main {
	display: grid;
	grid-template-columns: 0.5fr 1fr 1fr;
	grid-template-rows: auto repeat(2, 1fr);
	grid-template-areas:
		"header header header"
		"color board board";
	gap: 1rem;
	padding: 1.5rem;
}

/* areas */
.header {
	grid-area: header;
}

.selector-container {
	grid-area: color;
}

.board {
	grid-area: board;
	background: var(--surface);
	border: 1px solid var(--border);
}

.empty {
	grid-area: empty;
}
