main {
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"header header"
		"color board";
	gap: 1rem;
	padding: 2rem 0;
	justify-content: center;
}

/* areas */
.header {
	grid-area: header;
}

.selector-container {
	grid-area: color;
}

.board {
	grid-area: board;
	background: var(--surface);
	border: 1px solid var(--border);
}

.empty {
	grid-area: empty;
}
