/* styles for our header */
.header {
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
.header a:hover {
    background-color: white;
    color: black;

}

